@font-face {
    font-family: 'Gilroy-bold';
    src: url('fonts/Gilroy-bold.eot');
    src: url('fonts/Gilroy-bold.eot?#iefix') format('embedded-opentype'),
        url('fonts/Gilroy-bold.woff2') format('woff2'),
        url('fonts/Gilroy-bold.woff') format('woff'),
        url('fonts/Gilroy-bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body{
    margin: 0 auto;
    padding: 0;
    width: 1440px;
}
.container{
    width: 1300px;
    margin: 0 auto;
}
header{
    background-image:url(assets/fon.png) ;
    min-height: 100%;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.header__home{
    display: flex;
    justify-content: space-between;
    position: relative;
    z-index: 1;
   
}
.logo{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
 }
.logo__img{
    margin-right: 10px;
 }
.logo__title{
    font-family: 'Gilroy-bold';
    font-size: 26px;
    line-height: 100%;
    color: #FFFFFF;
 }
 .logo__text{
    width: 106px;
    font-family: 'Roboto', sans-serif;
    color: #FFFFFF;
    font-size: 12px;
    line-height: 130%;
    opacity: 0.7;
    margin-top: 15px;
 }
 .border{
    margin: 0 30px;
    height: 40px;
    opacity: 0.2;
    border: 1px solid #FFFFFF;
 }

.menu ul{
    display: flex;
    list-style: none;
    margin-top: 30px;
 }
.menu ul li a{
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    line-height: 100%;
    text-decoration: none;
    color: #FFFFFF;
    margin-left: 30px;
    font-weight: bold;
  
}

h1{
    margin:0 auto;
    font-family: 'Gilroy-bold';
    font-size: 90px;
    line-height: 100%;
    color: #FFFFFF;
    width: 512px;
    padding-top:100px;
    text-align: center;
}
.offer{
    width: 687px;
    font-family: 'Roboto', sans-serif;
    font-size: 26px;
    line-height: 140%;
    text-align: center;
    letter-spacing: -0.5px;
    color: #FFFFFF;
    margin:0 auto;
    padding-top: 40px;
    position: relative;
  

}
.offer__item a{
    text-decoration: none;
    font-style: italic;
    color: #FFFFFF;
}
.insta{
    position: relative;
    top: -2px;
}
.photosession{
    text-align: center;
}
.photosession__btn{
    width: 337px;
    height: 70px;
    border:0;
    outline: none;
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    line-height: 140%;
    text-align: center;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: bold;
    color: #333333;
    margin:45px 0 72px;

}
.result{
    display: flex;
    justify-content: space-between;
    margin-bottom:30px;
}
.result__item{    
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    line-height: 100%;
    font-weight: bold;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: #FFFFFF;
}
.result__city{
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    line-height: 100%;
    color: #FFFFFF;
}
.blur{
    position: absolute;
    top:0;
    left:0;
    right: 0;
    bottom:0;
    height: 80px;
    background-image:url(assets/noize.png) ;
    /* background: inherit;
    z-index: 0;
    filter: blur(25px); */
}
.icons{
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
    z-index: 1;

}
.icons__photo{
    display: flex;
    padding:30px 0;
 
}
.icon__item{
    margin-right: 30px;
}
.icon__title{
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    line-height: 140%;
    color: #FFFFFF;
    opacity: 0.8;
}
.border2{
    height: 80px;
    opacity: 0.2;
    border: 1px solid #FFFFFF;
 }
 .blur2{
    position: absolute;
    bottom: 160px;
    bottom: 0;
    right: 0;
    height: 147px;
    width:1369px ;
    background-image:url(assets/bg.png) ;

}
.galeria{
    padding-top:80px;
}
.galeria__title{
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    line-height: 100%;
    text-align: center;
    color: #F2C94C;
    letter-spacing: 10px;
    text-transform: uppercase;

}
.galeria__name{
    font-family: 'Gilroy-bold';
    font-size: 42px;
    line-height: 100%;
    text-align: center;
    color: #333333;
    margin-bottom: 50px;
}

.galeria__form{
    text-align: center;
    margin-bottom:50px;
}
.btn-m {
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    line-height: 140%;
    text-align: center;
    letter-spacing: 1px;
    text-transform: uppercase;
    padding:20px 30px;
    color: #333333;
    outline:none;
    font-weight: bold;
    margin-right: 20px;
    border: 1px solid #d3d5d6;
    background: #FFFFFF

}
.btn-m:focus{
    background-color: #F2C94C;
    outline: none;
    border:0;
}
.carousel{
    margin-left: 80px;
}
.photo1{
    vertical-align: top;
    margin-right: 15px;
}
.photo4{
  position: relative;
  bottom:280px;
 
}
.photo5{
    margin-top: 12px;
    margin-left: 15px;
    vertical-align: top;
}
.services{
    background-color: black;
    padding: 80px 0;
    margin-top: -160px;

}
.services__name{
    font-family: 'Gilroy-bold';
    font-size: 42px;
    line-height: 100%;
    text-align: center;
    color: #FFFFFF;
    padding-bottom: 50px;
}
.pkt{
    width: 360px;
    padding:30px 0;
    border:1px solid rgba(255, 255, 255, 0.5);

}
.pkt__name{
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    line-height: 140%;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #FFFFFF;
    opacity: 0.2;
    text-align: center;
}
.pkt__title{
    font-family: 'Playfair Display';
    font-style: italic;
    font-weight: bold;
    font-size: 34px;
    line-height: 100%;
    text-align: center;
    letter-spacing: -0.5px;
    color: #F2C94C;
    margin-bottom: 40px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    padding-bottom: 10px;
}
.pkt__list{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 140%;
    color: #FFFFFF;
    opacity: 0.7;
    margin-bottom: 60px;
    margin-left:20px;
}
.pkt__list_item{
    padding-bottom: 5px;
    list-style: none; 
    text-indent: -1.5em; 
}
.pkt__list_item::before{
    content: '\2714';
    color:#F2C94C;
    padding-right: 10px;
}
.price{
    font-family: 'Roboto', sans-serif;
    font-size: 36px;
    line-height: 100%;
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 40px;
}
.order{
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    line-height: 140%;
    width: 230px;
    height: 60px;
    background: linear-gradient(128.38deg, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0.1) 100%), #F2C94C;;
    text-align: center;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #333333;
    border:0;
    box-shadow: -1px 28px 26px -12px rgba(242,201,76,0.29)
   
}
.order:focus {
    outline: none;
   
}
.price__order{
    text-align: center;
}
.plan{
   
}
.services__plan{
    display: flex;
    justify-content: space-between;
}
.embed-responsive-item{
    border:none;
}
.video__title{
    color: #F2C94C;
    font-size: 18px;
    line-height: 100%;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 10px;
    text-transform: uppercase;
    padding-bottom: 20px;
}
.video{
  display: flex;
  position: relative;
  background: url('assets/bg-v.png') no-repeat;
}
.video__description{
    background:url('assets/bg_video.png') no-repeat;
    padding:80px;
    width: 750px;
    position: relative;
}
.video__ad{
    font-family: 'Gilroy-bold';
    font-size: 34px;
    line-height: 120%;
    color: #FFFFFF;
    
}
.video__text{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 140%;
    letter-spacing: -0.3px;
    color: rgba(255, 255, 255, 0.8);
    padding-top:30px;
}
.target{
    color: #F2C94C;
}
.media{
    position: relative;
    top:0;
    bottom:0;
    left:0;
    right: 0;
}
.media_icon{
    position: absolute;
    top:50%;
    left:22%;
    transform: translate(-25%,-25%);
    border:none;
    background-color: transparent;

}
.media_icon:focus{
    outline: none;
}
.reviews__wrap{
    margin:80px 0;
}
.reviews__feedback{
    font-family: 'Gilroy-bold';
    font-size: 34px;
    line-height: 120%;
    text-align: center;
    color: #333333;

}
.reviews__feedback-instagram {
    margin-top:27px;
    font-family: 'Gilroy-bold';
    font-size: 34px;
    line-height: 120%;
    font-style: italic;
    text-align: center;
    color: #333333;
}
.reviews__feedback-instagram a{
    text-decoration: none;
    color: #333333;
}
.reviews__description-title{
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    line-height: 140%;
    font-weight: bold;
    letter-spacing: -0.3px;
    color: #333333;
    padding-bottom:17px;
}
.reviews__description-text{
    width: 418px;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    line-height: 150%;
    letter-spacing: -0.3px;
    color: #707070;
}
.reviews__card{
    display: flex;
    justify-content: center;
    border: 2px solid #E9E9E9;
    width: 860px;
    height: 260px;
    position: relative;
    left: 70px;
}
.reviews__description{
    padding: 40px 50px;
  
}
.reviews{
    padding-bottom: 80px;
}
.photo-card{
    position: relative;
    top: -34px;
    left: 10px;
}
.carousel-indicators li{
    background-color: black;
}
.carousel-indicators{
    position: absolute;
    bottom: -70px;
}
.contacts{
    background-color: black;
    padding-top:80px;
    border-bottom:1px solid white;
}
.contacts__text{
    font-family: 'Gilroy-bold';
    font-size: 34px;
    line-height: 120%;
    text-align: center;
    color: #FFFFFF;

}
.vk,.vb,.face,.inst,.wh,.tg{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    color:white;
    font-size: 30px;
    line-height: 80px;
    text-align: center;
    letter-spacing: -0.5px;
}
.vb{
    background: #9B51E0;
    box-shadow: 0px 15px 55px -7px rgba(155,81,224,1);
}
.vk{
    background: #4C75A3;
    box-shadow: 0px 15px 55px -7px rgba(76,117,163,1);
}
.face{
    background: #3B5998;
    box-shadow: 0px 15px 55px -7px rgba(59,89,152,1);
}
.inst{
    background: radial-gradient(circle at 33% 100%, #fed373 4%, #f15245 30%, #d92e7f 62%, #9b36b7 85%, #515ecf);
    box-shadow: 0px 15px 66px -13px rgba(217,46,127,1);
}
.wh{
    background: #42D691;
    box-shadow: 0px 15px 55px -7px rgba(66,214,145,1);
}
.tg{
    background: #0088CC;
    box-shadow: 0px 15px 55px -7px rgba(0,136,204,0.72);
}
.contacts__icons{
    margin-top:60px;
    display: flex;
    justify-content: center;
}
.contacts__name{
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    line-height: 140%;
 
    letter-spacing: -0.3px;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-top:10px;
    align-items: center;
}
.contacts__icons-name a{
    text-decoration: none;
}
.contacts__icons-name{
    text-align: center;
    margin-right: 20px;
}
.contacts__form{
    width: 860px;
    height: 228px;
    margin: 0 auto;
    opacity: 0.1;
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    margin-top:60px;
    position: relative;
    padding:35px 50px;
}
.contacts__form:before {
    content: "";
    position: absolute;
    height: 20px;
    width: 60%;
    background-color: black;
    left: 50%;
    top: -10px;
    transform: translateX(-50%);
  }
.contacts__title-info{
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    line-height: 140%;
    letter-spacing: -0.5px;
    color: #FFFFFF;
    text-align: center;
    position: relative;
    top: 70px;
}
.form_item{
    width: 370px;
    height: 70px;
    margin-bottom: 17px;
    margin-right: 30px;
    background: none;
    border:none;
    border-bottom: 1px solid white;
    color:white;
}
.form__but{
    width: 370px;
    height: 70px;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    line-height: 140%;
    text-align: center;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #333333;
    margin-right: 20px;
    background: linear-gradient(144.27deg, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0.1) 100%), #F2C94C;
    box-shadow: -1px 28px 26px -12px rgba(242,201,76,0.29);
}
.form_item,.form__but:focus{
    outline: none;
}
.form_item:focus{
    border-bottom:2px solid #F2C94C;
}
.form{
    position: relative;
    top:-185px;
    text-align: center;
}
.contacts__politic{
    width: 860px;
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    line-height: 150%;
    text-align: center;
    letter-spacing: -0.3px;
    color: #707070;
    margin:0 auto;
    position: relative;
    top: -130px;
}
.politic{
    color:white;
    text-decoration: underline;
}
.contacts__rights{
    width: 860px;
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    line-height: 150%;
    text-align: center;
    letter-spacing: -0.3px;
    color: #707070;
    margin:0 auto;
}
footer{
    padding:40px;
    background-color: black;
}







@media only screen and (max-device-width: 1366px) {
    .parallax {
        background-attachment: scroll;
    }
} */